/* *{
    margin: 0;
    padding: 0;
} */

#test-swipe-1{
    margin-top: 2rem;
}
#test-swipe-2{
    margin-top: 2rem;
}
#test-swipe-3{
    margin-top: 2rem;
}
/* .tabs .indicator {
    background-color: rgb(25, 0, 255) !important;
} */
