<div class="row center-align">
  <div class="">
    <h1>Contador</h1>
    <h2>{{counter}}</h2>
  </div>
</div>

<div class="row center-align">
  <div class="">
    <button (click)="increaseCounter()" class="waves-effect waves-light btn green mr-2"><i class="material-icons right">add</i>Incrementar</button>
    <button (click)="decreaseCounter()" class="waves-effect waves-light btn red ml-2"><i class="material-icons right">remove</i>Decrementar</button>
  </div>
</div>

<hr>
<div class="row center-align">
  <div class="">
    <app-child [counter] = "counter" (changeCounter)="counter = $event"></app-child>
  </div>
</div>
